#screen_pause{
    position: absolute;
    
    margin:0 0 0 30%;
    z-index:1;
    display:none;
    background-color: rgba(0,0,0,0.2); 
}

#pause_menu{
    
    position:absolute;
    height: 150px;
    width: 110px;
    margin: 35% 35% 0 39%;
    padding: 0 0 0% 8%;
    z-index: 2;
    border: 1px solid white;
    background-color: white;
}

#board{
    position:absolute;
    margin:0 0 0 30%;
    z-index:0;
}

#hp_bar_border{
    position:fixed;
    bottom:0;
    margin: 0 0 0.6% 0 ;
    border: 1px solid black;
    
    left:35%;
}

#hp{
    position:fixed;
    
    background-color: rgb(231, 8, 8);
    
}

button{
    margin:2%;
    padding:5%;
    font-size:14px;
}

p{
    margin: 25% 0% 0 10%;
}